.lesson {
  margin-top: 140px;
  padding-bottom: 90px;

  display: none;
  align-items: flex-start;
  gap: 50px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 500px) {
    margin-top: 100px;
    padding-bottom: 60px;
  }

  &-active {
    display: flex;
  }
}

.lesson-left {
  position: relative;
  width: calc(44% - 25px);

  @media (max-width: 900px) {
    width: 100%;
  }
}

.lesson-block {
  padding: 55px 45px 40px;
  border-top: 2px solid var(--primary);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background: var(--box-color);

  margin-bottom: 25px;

  @media (max-width: 1100px) {
    padding: 35px 30px 25px;
  }

  @media (max-width: 500px) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  // .lesson-block__title

  &__title {
    font-size: 24px;
    margin-bottom: 0.58em;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  // .lesson-block__descr

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  // .lesson-block__text

  &__text {
    font-size: 16px;
    line-height: 121%;
    letter-spacing: 0.1px;
  }
}

.lesson-slider {
  position: relative;
  width: calc(100% - 50px);
  margin: 0 auto;

  // .lesson-slider__btn

  &__btn {
    width: 45px;
    aspect-ratio: 1 / 1;

    border: 2px solid var(--secondary);
    background: var(--white);

    &--active {
      background: var(--secondary);
    }
  }

  &__arrow {
    position: absolute;
    border-bottom-color: var(--primary);
    z-index: 3;

    cursor: pointer;

    &-prev {
      rotate: -90deg;
      left: 0;
    }

    &-next {
      rotate: 90deg;
      right: 0;
    }
  }

  &__navigation {
    position: relative;
    top: -26px;

    .swiper-button-disabled {
      opacity: 0.4;
    }

    .swiper-button-lock {
      display: none;
    }
  }
}

.lesson-image {
  display: block;
  margin-top: 40px;
  overflow: hidden;

  @media (max-width: 900px) {
    display: none;
  }

  img {
  }
}

.lesson-right {
  width: calc(56% - 25px);

  @media (max-width: 900px) {
    width: 100%;
    max-width: 600px;
  }
}

.chess {
  position: relative;
  overflow: hidden;

  width: 100%;
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.chess-item {
  position: relative;

  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &--black {
    background: var(--primary);
  }

  &--white {
    background: var(--secondary);
  }

  &--active {
    &::before {
      position: absolute;

      width: 90%;
      aspect-ratio: 1 / 1;

      border-radius: 50%;
      background: var(--chess-active);
      content: '';
    }
  }

  &__image {
    width: 80%;

    img {
      width: 100%;
    }
  }
}
