.lesson {
  margin-top: 140px;
  padding-bottom: 90px;

  display: none;
  align-items: flex-start;
  gap: 50px;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 500px) {
    margin-top: 100px;
    padding-bottom: 60px;
  }

  &-active {
    display: flex;
  }
}

.lesson-left {
  position: relative;
  width: calc(44% - 25px);

  @media (max-width: 900px) {
    width: 100%;
  }
}

.lesson-block {
  padding: 55px 45px 40px;
  border-top: 2px solid var(--primary);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  background: var(--box-color);

  margin-bottom: 25px;

  @media (max-width: 1100px) {
    padding: 35px 30px 25px;
  }

  @media (max-width: 500px) {
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  // .lesson-block__title

  &__title {
    font-size: 24px;
    margin-bottom: 0.58em;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  // .lesson-block__descr

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 121%;
    letter-spacing: 0.1px;

    margin-bottom: 10px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-left: 1.5em;

    &__item {
      list-style: disc;
      font-size: 15px;
      line-height: 121%;
      letter-spacing: 0.1px;
    }
  }

  // .lesson-block__text

  &__text {
    font-size: 16px;
    line-height: 121%;
    letter-spacing: 0.1px;
  }
}

.lesson-slider {
  position: relative;
  width: calc(100% - 50px);
  margin: 0 auto;

  &__wrapper {
    padding-top: 5px;
  }

  // .lesson-slider__btn

  &__btn {
    width: 45px;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--dark);
    border: 2px solid var(--secondary);
    background: var(--white);

    transition: translate 0.2s;

    &--active {
      background: var(--secondary);
    }

    &--finish {
      color: var(--secondary);
      background: var(--primary);
      border-color: var(--primary);
    }

    @media (hover: hover) {
      &:hover {
        translate: 0 -5px;
      }
    }
  }

  &__arrow {
    position: absolute;
    border-bottom-color: var(--primary);
    z-index: 3;

    cursor: pointer;

    &-prev {
      rotate: -90deg;
      left: 0;
    }

    &-next {
      rotate: 90deg;
      right: 0;
    }
  }

  &__navigation {
    position: relative;
    top: -26px;

    .swiper-button-disabled {
      opacity: 0.4;
      cursor: default;
    }

    .swiper-button-lock {
      display: none;
    }
  }
}

.lesson-image {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
  overflow: hidden;

  @media (max-width: 900px) {
    display: none;
  }

  img {
    min-width: 100%;
    width: auto;
    min-height: 100%;
    height: auto;

    aspect-ratio: auto 1 / 1;
  }
}

.lesson-right {
  width: calc(56% - 25px);

  @media (max-width: 900px) {
    width: 100%;
    max-width: 600px;
  }
}

.chess {
  position: relative;
  overflow: hidden;

  width: 100%;
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.chess-item {
  position: relative;

  width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    min-width: 20px;
    width: 40%;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    background: var(--chess-active);

    opacity: 0;
    transition: opacity 0.3s;

    content: '';
  }

  &--black {
    color: var(--secondary);
    background: var(--primary);
  }

  &--white {
    color: var(--primary);
    background: var(--secondary);
  }

  &--active {
    cursor: pointer;

    &::before {
      opacity: 1;
    }
  }

  &__image {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &::before {
      position: absolute;

      width: 90%;
      aspect-ratio: 1 / 1;

      border-radius: 50%;
      background-color: var(--chess-active);

      opacity: 0;
      transition: opacity 0.3s;

      content: '';
    }

    &--active {
      &::before {
        opacity: 1;
      }
    }

    img {
      position: relative;
      width: 80%;
    }
  }
}

[data-marker] {
  &::before {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    content: attr(data-marker);

    @media (max-width: 500px) {
      bottom: 4px;
      left: 4px;

      font-size: 10px;
    }
  }
}

[data-marker-num] {
  &:before {
    position: absolute;
    top: 8px;
    right: 8px;
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    content: attr(data-marker-num);

    @media (max-width: 500px) {
      top: 4px;
      right: 4px;

      font-size: 10px;
    }
  }
}
