.overlay {
  display: none;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
  padding: 40px;

  background: rgb(0, 0, 0, 0.5);
  overflow-y: auto;

  @media (max-width: 500px) {
    padding: 20px;
  }

  @media (max-width: 375px) {
    padding: 10px;
  }
}

.modal {
  display: none;
  opacity: 0;

  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;

  max-width: 400px;
  width: 100%;

  padding: 40px 25px 30px;

  background: var(--white);
  // .modal__close

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;

    z-index: 11;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;

      width: 12px;
      height: 2px;
      border-radius: 5px;
      background: var(--dark);
      transition: background 0.3s;

      content: '';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (hover: hover) {
      &:hover {
        &::before,
        &::after {
          background: var(--header-elements);
        }
      }
    }
  }

  // .modal__title

  &__title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0.55em;
    text-align: center;

    @media (max-width: 500px) {
      font-size: 20px;
      line-height: normal;
    }
  }

  // .modal__btns

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  // .modal__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 166px;
    min-height: 40px;

    color: var(--black);

    &:first-child {
      background: var(--header-elements);
    }

    &:last-child {
      background: transparent;
      border: 1px solid var(--header-elements);
    }
  }
}
