@font-face {
	font-family: helveticaneuecyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("../fonts/helveticaneuecyr-roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: helveticaneuecyr;
	font-display: swap;
	src: url("../fonts/helveticaneuecyr-black.woff2") format("woff2"), url("../fonts/helveticaneuecyr-black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
