// Переменные проекта
:root {
  // Цветовая палитра
  --white: #fff;
  --black: #000;

  --dark: #454242;

  --primary: #b58863;
  --secondary: #f0d9b5;

  --header-elements: #ffab00;
  --box-color: #f5f4f4;
  --chess-active: #fabd1a;

  // Начертание шрифта
  --bold: 900;
  --regular: 400;
}

.white {
  color: var(--white);
}

.dark {
  color: var(--dark);
}

.black {
  color: var(--black);
}

.header-color {
  color: var(--header-elements);
}

.secondary {
  color: var(--secondary);
}
